<mat-card class="simple-form-card">
  <form [formGroup]="form" (ngSubmit)="submit(form.value)">
    <mat-card-title> Login </mat-card-title>
    <mat-card-subtitle>
      Don't have an account?
      <a routerLink="/register">
        Register here.
      </a>
    </mat-card-subtitle>
    <mat-card-content>
      <div class="form-group">
        <mat-form-field class="simple-form-field-100">
          <input matInput placeholder="Username" name="username" formControlName="username" />
        </mat-form-field>
        <br />
        <mat-form-field class="simple-form-field-100">
          <input matInput type="password" placeholder="Password" name="password" formControlName="password" />
        </mat-form-field>
        <br />
        <button [disabled]="waiting" class="simple-form-button" color="primary" mat-raised-button type="submit"
          value="submit">
          Log in
        </button>
        <span *ngIf="error" class="error">
          {{ errorMessage }}
        </span>
      </div>
    </mat-card-content>
  </form>
</mat-card>
