<div>
    <mat-toolbar color="primary" class="top-navbar" role="header">
      <div>
        <button mat-icon-button (click)="toggleSideNavDrawer()">
          <mat-icon>
            menu
          </mat-icon>
        </button>
      </div>
      <span>
        <!-- Below line was added to prevent the mat-drawer form highlighting the logo with an orange box -->
        <a routerLink="/" (click)="hideSideNavAfterClick()"></a>
        <a routerLink="/" (click)="hideSideNavAfterClick()">
        </a>
        {{ title }}
      </span>
      <span class="navbar-spacer"></span>
      <app-user-dropdown></app-user-dropdown>
    </mat-toolbar>
    <mat-drawer-container>
      <!-- Side nav -->
      <mat-drawer
        #sideNavDrawer
        [mode]="drawerMode"
        [opened]="drawerOpened"
        class="lwa-dark-theme"
      >
        <mat-nav-list>
          <a
            *ngFor="let navLink of primaryNavLinks"
            mat-list-item
            [hidden]="
              (navLink.isLoggedInRoute && !isLoggedIn)
            "
            routerLink="{{ navLink.routerLink }}"
            (click)="hideSideNavAfterClick()"
          >
            <mat-icon>{{ navLink.icon }}</mat-icon>
            {{ navLink.title }}
          </a>
          <a
            *ngFor="let navLink of secondaryNavLinks"
            mat-list-item
            [hidden]="
              (navLink.isLoggedInRoute && !isLoggedIn)
            "
            routerLink="{{ navLink.routerLink }}"
            (click)="hideSideNavAfterClick()"
          >
            <mat-icon>{{ navLink.icon }}</mat-icon>
            {{ navLink.title }}
          </a>
        </mat-nav-list>
      </mat-drawer>
      <!-- Top nav -->
      <mat-drawer-content>
        <!-- Route content -->
        <div class="container" #routerOutletParent>
          <router-outlet></router-outlet>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  